@CHARSET "UTF-8";
html,body{ height:100%;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none; }

*{ margin:0px; }
.layui-table-view{ margin:0px; }
.navb{ position:inherit;margin-bottom:10px;}
.page-container{ padding:0 20px;margin-top:0px; }

/*toolbar按钮*/
.layui-table-tool{background:#fff;}
.toolbar{}
.toolbar .search-input{height:30px;}
.toolbar .search-btn{height:30px;margin-left:10px;}
.toolbar .btna{ height:30px;line-height:30px;display:inline-block;border:1px solid #e6e6e6;border-radius:5px;padding:0 8px;margin:5px;text-decoration:none; }
.toolbar .btna:hover{ border:1px solid #e6e6e6;text-decoration:none;border-radius:5px; }
.toolbar .layui-input, .layui-select, .layui-textarea{ height:30px; }
.toolbar .layui-input-block{ margin:0; }
.layui-table-tool-self{ top:inherit; bottom:15px; }

.col-center{ display: flex;align-items: center;align-content: center;justify-content: center; }
