\#*
.*
!.gitignore
!.htaccess
*.swp
*~
*.swo
$.swn
*.tmp
/.bulidpath
/.htrouter.php
/.project
/.settings/
/.phalcon/
cache/
/app/migrations/
/app/library/payment/
/app/config/config.php
*.txt
*.zip
*.tar
/*.htaccess
/public/*.htaccess
/cache
/.settings
/app/library/payment
/*.project
/*.buildpath
/public/temp
/public/*.log
