@CHARSET "UTF-8";
.input-text{ width:160px; }
.form-horizontal .form-label{ text-align:right; }

select{ width:160px;height:30px;border:solid 1px #ddd; }
.role-label{ margin-right:20px;line-height:30px; }