.voucher-item-div{
	background-image: url(../../../img/wapApp/yhqbg1.png);
	width: 90%;
	height: 80px;
	background-size: 100% 100%;
	margin: 10px 5%;
}
.vi-top-div{
	width: 100%;
	height: 60px;
	position: relative;
}
.vit-left-div{
	color: #fff;
	position: relative;
	width: 80px;
	height: 100%;
	display: flex;
	align-items: center;
	margin-left: 20px;
}
.vit-t1{
	font-size: 12px;
	position: absolute;
	left: 0px;
	margin-top: -10px;
}
.vit-t2{
	font-size: 30px;
	position: absolute;
	left: 10px;
}
.vit-right-div{
	height: 100%;
	position: absolute;
	top: 0;
	left: 110px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #f0aca9;
	font-size: 14px;
}
.vit-right-div text{
	display: block;
}

.vi-bottom-div{
	width: 100%;
	height: 20px;
	position: relative;
	color: #f0aca9;
	font-size: 12px;
}
.vib-left{
	margin-left: 10px;
}
.vib-right{
	position: absolute;
	right: 10px;
}
